<html>
    <head>
        <title>Weather page</title>
    </head>
    <body>
        <h1>Your info is here!</h1>
        <h3>{{weather_data['location']['name']}}'s weather report'</h3>
        <p>
            <li>Region:{{weather_data['location']['region']}}</li>
            <li>Temperature:{{weather_data['current']['temp_c']}}</li>
            <li>Condition:{{weather_data['current']['condition']['text']}}</li>
            <li>Wind:{{weather_data['current']['wind_mph']}}</li>
            <li>Cloud:{{weather_data['current']['cloud']}}</li>
            <li>Precipitation:{{weather_data['current']['precip_mm']}}</li>
            <img src="{{weather_data['current']['condition']['icon']}}">
        </p>
    </body>
</html>
<!--'Title': 'Goat', 'Year': '2016',
 'Rated': 'R', 'Released': '23 Sep 2016', 
 'Runtime': '96 min', 'Genre': 'Drama', 'Director': 
 'Andrew Neel', 'Writer': 'David Gordon Green, Brad Land, Andrew Neel',
  'Actors': 'Ben Schnetzer, Nick Jonas, Gus Halper', 'Plot': 
  'Reeling from a terrifying assault, a 19 year-old enrolls 
  into college with his brother and pledges the same fraternity. 
  What happens there in the name of "brotherhood" tests him and his 
  loyalty to his brother in brutal ways.', 
  'Language': 'English', 'Country': 'United States', 'Awards': 
  '5 nominations', 
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMTUxNjg1ODY3Ml5BMl5BanBnXkFtZTgwODEyNjUzOTE@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.7/10'}, {'Source': 'Rotten Tomatoes', 'Value': '79%'}, {'Source': 'Metacritic', 'Value': '64/100'}], 'Metascore': '64', 'imdbRating': '5.7', 'imdbVotes': '8,156', 'imdbID': 
'tt4437216', 'Type': 'movie', 'DVD': 'N/A', 
'BoxOffice': '$23,020', 
'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}-->